<!DOCTYPE html>
<html>
<head>
    <title>CVE Graphs</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wordcloud2.js/1.1.2/wordcloud2.min.js"></script>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="{{ url_for('static', path='graphs_styles.css') }}">
</head>
<body>
    <h1>CVE Data Visualizations</h1>
    <a href="/">← Back to Home</a>

    <div id="cvss-v3-histogram" class="graph-container"></div>
    <div id="severity-bar" class="graph-container"></div>
    <div id="score-scatter" class="graph-container"></div>
    <h1 style="text-align:center">Most frequent words in description</h1>
    <div id="wordcloud" class="graph-container"></div>

    <!-- Embed CVE data as JSON -->
    <script>
        window.cveData = {{ cve_data | tojson | safe }};
    </script>

    <!-- Load your external JS -->
    <script src="/static/graphs.js"></script>
</body>
</html>
