<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="{{ url_for('static', path='main_style.css') }}">
</head>
<body>
    <h1 style="text-align:center; margin-bottom: 40px;">Fetch, Store & Display</h1>

    <div class="menu-container">
        <a href="/display"><button class="menu-button">Fetch CVEs</button></a>
        <a href="/display-stored"><button class="menu-button">Display CVEs</button></a>
        <a href="/graphs"><button class="menu-button">Graphs & Analytics</button></a>
    </div>
</body>
</html>
